{%  extends 'accounts/main.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h4>{{ customer.name }}</h4>
        <hr>
        <a class="btn btn-outline-info btn-md btn-block" href="">Update Customer</a>
        <a class="btn btn-outline-danger btn-md btn-block" href="">Delete Customer</a>
        
      </div>
    </div>
  
    <div class="col-md">
      <div class="card card-body">
        <h4>Contact Information</h4>
        <hr>
        <p>Email:&nbsp; {{ customer.phone }}</p>
        <p>Phone:&nbsp; {{ customer.email }}</p>
      </div>
    </div>
  
    <div class="col-md">
      <div class="card card-body">
        <h4>Total Orders</h4>
        <hr>
        <p style=
        "font-size: 2.4rem;
        text-align: center;">{{ orders_count }}</p>
      </div>
    </div>
  </div>
  
  
  <br>
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <form method="get">
  
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
    
  </div>
  <br>
  
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <table class="table table-sm">
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Date Orderd</th>
            <th>Status</th>
            <th>Update</th>
            <th>Remove</th>
          </tr>
          {% for order in orders  %}
          <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.product.category }}</td>
            <td>{{ order.date_created }}</td>
            
            {% if order.status == 'Delivered' %}
              <td>
                <h5><span class="badge" style="color: black;
                  background-color: rgba(124, 255, 0, 0.6)">{{ order.status }}</span></h5>
              </td>
            {% elif order.status == 'Pending' %}
              <td>
                <h5><span class="badge" style="color: black;
                  background-color: rgba(255, 255, 63, 0.6)">{{ order.status }}</span></h5>
              </td>
            {% else %}
              <td>
                <h5><span class="badge">{{ order.status }}</span></h5>
              </td>
            {% endif %}

            <td><a class="btn btn-sm" style=
              "background-color: rgba(0, 180, 216, 0.6)" 
              href="">Update</a></td>
            <td><a class="btn btn-sm" style=
              "background-color: rgba(237, 37, 78, 0.6)" 
              href="">Remove</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>  
</div>

{% endblock content %}