{% extends 'accounts/main.html' %}
{% block content %}

<div class="container p-3 border">
  <h2>DASHBOARD</h2>
  <br>

  {% include "accounts/status.html" %}
  
  <br>
  <div class="row align-items-start">
    
    <div class="col-md-4">
      <h4>Customers:</h4>
      <div class="card card-body">
        
        <a class="btn btn-outline-primary" role="button" href="#">Create Customer</a>
        
        <table class="table table-md">
          <tr>
            <th>Customer</th>  
            <th>Orders</th>  
          
          </tr>
          {% for customer in customers %}
          <tr>
            <td>{{ customer.name }}</td>
            <td><a class="btn btn-sm bg-info" href="{% url 'customer' customer.id %}">
              Notifications <span class="badge text-bg-secondary">0</span></a></td>
          </tr>
          {% endfor %}

        </table>
      </div>
    </div>
    
    <div class="col-md-8">
      <h4>Last 5 Orders:</h4>
      <div class="card card-body">
        
        <div class="row">
          <div class="col-md-6">
            <div class="d-grid gap-2 col-12 mx-auto">
              <a class="btn btn-outline-primary" role="button"
              href="{% url 'create_order' %}">Create Order</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by
              </a>
            
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Newest</a></li>
                <li><a class="dropdown-item" href="#">Oldest</a></li>
                <li><a class="dropdown-item" href="#">A-Z</a></li>
                <li><a class="dropdown-item" href="#">Z-A</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-outline-primary" role="button" href="#">Refresh</button>
          </div>
          
        </div>


        
        <table class="table table-md">
          <tr>
            <th>Product</th>  
            <th>Ordered</th>
            <th>Status</th>
            <th>Update</th>   
            <th>Remove</th>    
          </tr>
          {% for order in orders %}
          <tr>
            <td>{{ order.product.name }}</td>
            <td>{{ order.date_created }}</td>
            
            {% if order.status == 'Delivered' %}
              <td>
                <h5><span class="badge" style="color: black;
                  background-color: rgba(124, 255, 0, 0.6)">{{ order.status }}</span></h5>
              </td>
            {% elif order.status == 'Pending' %}
              <td>
                <h5><span class="badge" style="color: black;
                  background-color: rgba(255, 255, 63, 0.6)">{{ order.status }}</span></h5>
              </td>
            {% else %}
            <td>
              <h5><span class="badge" style="color: black;
                background-color: rgba(0, 128, 0, 0.6)">{{ order.status }}</span></h5>
            </td>
            {% endif %}
            {% comment %} UPDATE ORDER {% endcomment %}
            <td><a class="btn btn-sm" style=
              "background-color: rgba(0, 180, 216, 0.6)" 
              href="{% url 'update_order' order.id %}">Update</a></td>
            {% comment %} DELETE ORDER {% endcomment %}
            <td>
              <button class="btn btn-sm btn-danger" type="button" data-bs-toggle="collapse" 
              data-bs-target="#collapseDashboardRemove{{ order.id }}" 
              aria-expanded="false" aria-controls="collapseExample">
                Delete
              </button>
              <div class="collapse" id="collapseDashboardRemove{{ order.id }}">
                <div class="card card-body">
                  <div>Yes</div>
                  <div>No</div>
                </div>
              </div>
            </td>
            {% comment %} <td><a class="btn btn-sm" style=
              "background-color: rgba(237, 37, 78, 0.6)" 
              href="">Remove</a></td> {% endcomment %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}







