{% load static %}

<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid" id="navbar">
      <img src="{% static "images/navbar-logo.png" %}" alt="Logo" width="60" height="60">
      <a class="navbar-brand" href="#" id="navbar-brand">CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
          <a class="nav-link" href="#">Products</a>
        </div>
      </div>
    </div>
  </nav>
</div>

